//! **************************************************************************
// Written by: Map P.20131013 on Thu Jun 01 22:40:48 2023
//! **************************************************************************

SCHEMATIC START;
NET "clock_BUFGP/IBUFG" BEL "clock_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

